.text-style{
    color: var(--main-text-color);
    font-family: var(--main-text-font);
}

.button-style{
    border-color: var(--main-border-color);
    position : absolute;
    margin-top: 30px;
    margin-left: -40px;
    background-color: var(--main-button-color);
    font-family: var(--main-text-font);
    color: var(--main-text-color);
    border-radius: 100px;

}