:root{
    --main-text-font: 'Frontdiner Swanky';
    --main-text-size: 18px;
    --main-text-color: black;
    --main-background-color: #FFF7D3;
    --main-button-color: #FFD60A;
    --main-border-color: #467610,
}