.backgroundImage {
  background-image: url("./gameAssets/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-attachment: static;
}

.gridContainer {
  height: 100vh; /* Ensure the grid container takes the full viewport height */
  display: flex;
  flex-direction: row;
}

.ageUpButton {
  align-items: flex-end;
  padding: 0;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  position: relative;
  top: -60px;
}

.ageUpButton img {
  display: block;
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
}

.ageUpButton:hover img {
  filter: brightness(120%);
}

.ageUpButton:active img {
  filter: brightness(80%);
}
