.box-container {
  background-color: var(--main-background-color);
  border-color: var(--main-border-color);
  border-radius: 3%;
  height: 70vh;
  width: 120vh;
  position: relative;
}

.text-container {
  /* border: 3px solid green; */
  padding-top: 30px;
  text-align: center;
  font-weight: 20px;
}

.selection-container {
  /* border: 3px solid green; */

  flex-direction: row;
  justify-content: space-between;
  margin-top: 8%;
  padding: 10%;
  display: flex;
  text-align: center;
}

.button-wrapper {
  position: absolute; /* Position the wrapper absolutely */
  top: 0;
  right: 0;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
